@charset "UTF-8";
.carousel{
    width: 600px;
    height: 100px;
    overflow: hidden;
}
.carousel>ul{
	width: 800px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.carousel>ul>li{
    float: left;
}
.carousel>ul>li>img{
    width: 200px;
    height: 200px;
}